<form [formGroup]="form" class="container col-lg-6 mt-4">
        <div class="form-group">
            <label for="username">Username</label>
            <input FormControlName="username" id="username" type="text" class="form-control">
            <div *ngIf="username.touched && username.invalid" class="alert alert-danger">
                <div *ngIf="username.errors.required">
                    This field is required
                </div>
                <div *ngIf="username.errors.minLength">
                    Please enter minimun {{username.errors.minLength.requiredLength}} characters !
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input FormControlName="password" id="password" type="password" class="form-control">
            <div class="alert alert-danger" *ngIf="password.touched && password.invalid">
                This field is required 
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Sign Up</button>
</form>